.b-page {
  @import url('https://fonts.googleapis.com/css?family=Ubuntu');
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: #708090;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #C0C0C0;
}
.b-page__header {
  background-color: #FFF;
  position: fixed;
  z-index: 1000;
  padding: 5px 0;
  width: 100%;
}
.header__section {
  display: flex;
  max-width: 1260px;
  margin: 0 auto;
  justify-content: space-between;
}
.section__logo {
  max-height: 80px;
  margin-left: 5%;
}
.section__search {
  font-size: 20px;
  margin-right: 5%;
  margin-top: 30px;
}
.search__label {
  display: block;
  margin-top: -25px;
  margin-left: 10px;
}
.search__input {
  padding: 5px 5px 5px 40px;
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 10px -1px;
  outline: none;
}
.section__nav {
  text-align: center;
}
.section__nav ul {
  display: inline-block;
  list-style-type: none;
  margin-top: 30px;
}
.section__nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}
.b-page__wrapper {
  max-width: 1260px;
  min-width: 250px;
  margin: 0 auto;
  padding-top: 100px;
  background-color: #708090;
}
.wrapper__menu {
  position: fixed;
  font-size: 20px;
  width: 140px;
  height: 100%;
}
.wrapper__menu ul {
  list-style-type: none;
}
.wrapper__menu ul li {
  margin: 10px 0;
  padding-bottom: 20px;
}
.menu__item i {
  padding-right: 10px;
}
.wrapper__landing {
  display: flex;
  flex-direction: column;
  margin-left: 140px;
  text-align: center;
  height: 100vh;
}
.landing__text {
  animation: landingSlideIn 3s ease-in;
}
.wrapper__landing p {
  padding: 0 10%;
  text-align: justify;
  text-align-last: center;
}
.landing__popup {
  animation-delay: -5s;
  animation: landingPopUp 1s;
}
.landing__popup img {
  padding-top: 20px;
  max-width: 200px;
}
.wrapper__content {
  display: flex;
  flex-flow: wrap;
  padding-left: 140px;
  height: 100%;
  justify-content: center;
}
.content__data {
  width: 250px;
  min-width: 250px;
  margin: 10px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}
.content__data img {
  max-width: 100%;
  transition: all 0.3s;
}
.content__data img:hover {
  transform: scale(1.1);
}
.content__data p {
  padding: 0 10px;
  text-align: justify;
  text-align-last: center;
}
.b-page__footer {
  width: 100%;
  background-color: #FFF;
}
.footer__flex_container {
  display: flex;
  max-width: 1260px;
  margin: 0 auto;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.footer__menu {
  list-style-type: none;
  padding-left: 0;
}
.footer__bottom {
  display: flex;
  max-width: 1260px;
  justify-content: space-around;
  padding-bottom: 10px;
  margin: 0 auto;
  font-size: 20px
}
.left__item, .right__item {
  margin: 0 5px;
}
@keyframes landingSlideIn {
  0% {
    opacity: 0;
    margin-top: -100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes landingPopUp {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 1260px) {

}
@media only screen and (max-width: 960px) {
  .b-page__header {
    text-align: center;
    height: auto;
  }
  .section__logo {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .section__search {
    float: none;
    margin: auto;
  }
  .search__label {
    margin-left: -170px;
  }
}
@media only screen and (max-width: 320px) {
  .section__search {
    display: block;
    margin: 0 auto;
  }
  .section__search {
    margin-left: 20px;
  }
  .nav__item {
    display: block;
    text-align: center;
    margin-top: 5px;
  }
  .nav__item:not(:last-child) span {
    display: none;
  }
  .wrapper__menu {
    display: inline-block;
    position: relative;
    float: none;
    width: 100%;
    min-height: 100%;
  }
  .wrapper__menu ul {
    padding-left: 0;
    text-align: center;
  }
  .wrapper__menu ul li{
    display: inline;
    margin: auto 5px;
    padding: 5px;
  }
  .wrapper__content {
    margin: 0;
  }
  .footer__bottom {
    margin: auto 5px;
    font-size: 15px;
  }
  .left__item, .right__item {
    margin: 2px 2px;
  }
}