$headerFontSize: 20px;

.container {
  text-align: center;
}

.container__header {
  margin: 20px auto;
  font-size: $headerFontSize;
}

.fight__message {
  display: table;
  text-align: center;
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
  background: rgba(70, 80, 90, 0.15);
}

.fight__message:nth-child(odd) {
  position: relative;
  right: 200px;
  background: rgba(90, 80, 70, 0.75);
  color: #FFFFFF;
}

.fight__message:nth-child(even) {
  position: relative;
  left: 200px;
}

.fight__message:first-child,
.fight__message:nth-child(2),
.fight__message:last-child,
.fight__message:nth-last-child(2) {
  background: rgba(70, 80, 90, 0.15);
  text-align: center;
  color: #CF0000;
  position: static;
}
